<h2>User info</h2>

<%= image_tag 'no-image.jpg' %>
<table class="table">
 <tbody>
  <tr></tr>
  <tr>
   <th>name</th>
   <th>
    <%= user.name %>
   </th>
   <th>introduction</th>
   <th>
    <%= user.introduction %>
   </th>
  </tr>
 </tbody>
</table>


<h2>New book</h2>

<%= form_with model: books do |f| %>

 <div class="field-error">
  <div class="field">
    <label for="book_title">Title</label>
       <%= f.text_field :title %>
  </div>
 </div>

 <div class="field-error">
  <div class="field">
    <label for="book_title">Opinion</label>
       <%= f.text_area :body %>
  </div>
 </div>
  <div class="actions">
   <%= f.submit 'Create Book' %>
  </div>
<% end %>