<%= render 'list', books: @showbook, user: @book_info %>

<h1><strong>Books</strong></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>image</th>
      <th>title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>

  <tr>
   <td>
     <%= image_tag 'no-image.jpg' %><br>
     <%= link_to @showbook.user.name, user_path %>
   </td>


   <td>
    <span><%= @showbook.title %></span>
   </td>

   <td>
     <span><%= @showbook.body %></span>
   </td>


 </tbody>

</table>